[submodule "install/dotbot"]
	path = install/dotbot
	url = git://github.com/anishathalye/dotbot.git
[submodule "install/dotbot-yaourt"]
	path = install/dotbot-yaourt
	url = git://github.com/niklas-heer/dotbot-yaourt.git
[submodule "private"]
	path = private
	url = git@git.reeb.io:pree/dotfiles-private.git
[submodule "install/oh-my-zsh"]
	path = install/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
